# Mac
.DS_Store

# Visual Studio Code
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Executable Main
util/iomeasure/main
src/main/main

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Text Files, Gnuplot Files and CSV-Files
*.txt
*.plt
*.csv
*.aux
*.log
*.gz
*.toc

# clang-format
.clang-format
